body {
  font-family: "Averia serif libre";
  text-align: center;
  color: aliceblue;
  background-color: crimson;
}
img {
  width: 600px;
  height: 420px;
  display: inline-block;
  margin: 50px;
  box-shadow: 0 0 20px #333;
}
h1 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 14pt;
}
#mark {
  width: 100%;
  position: fixed;
  bottom: 200px;
  font-size: 16pt;
  border-bottom: dashed 2px currentColor;
  text-shadow: 0 0 10px black;
}
#warning {
  padding: 10px;
  color: beige;
  background-color: red;
}
a {
  color: skyblue;
}
@media (max-width: 620px) {
  img {
    width: 90vw;
    height: 55vw;
    margin: 50px 0;
  }
}
