* {
  padding: 0;
  margin: 0;
}

.box {
  width: 50px;
  height: 50px;
}

.blue {
  background-color: blue;
  /* transition-property: background-color, width;
  transition-duration: 3s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out; */
  position: relative;
  animation-name: loadingABC, move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes loadingABC {
  0% {
    background-color: blue;
  }
  50% {
    background-color: yellow;
    width: 300px;
  }
  100% {
    background-color: brown;
    width: 150px;
    height: 150px;
  }
}

@keyframes move {
  from {
    left: 0;
  }
  to {
    left: 20px;
  }
}

.blue:hover {
  width: 200px;
  background-color: brown;
}

.yellow {
  background-color: yellow;
}

.menu li {
  display: inline-block;
  position: relative;
}

.menu li::after {
  width: 0;
  height: 4px;
  background-color: black;
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 2s ease-in-out;
}

.menu li:hover::after {
  width: 100%;
}

.loading {
  width: 50px;
  height: 50px;
  border: 5px solid black;
  border-top-color: red;
  border-right-color: burlywood;
  border-bottom-color: chartreuse;
  border-radius: 50%;
  animation: circle-loading 1s infinite linear;
}

@keyframes circle-loading {
  to {
    transform: rotate(360deg);
  }
}
