@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(135deg, #43cbff, #9708cc);
}

.product-card {
  width: 100%;
  max-width: 355px;
  border-radius: 25px;
  padding: 20px 30px 30px 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  z-index: 3;
  overflow: hidden;
}

.product-card .logo-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card .logo-cart img {
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.product-card .logo-cart i {
  font-size: 27px;
  cursor: pointer;
  color: #707070;
  transition: color 0.3s ease;
}

.product-card .logo-cart i:hover {
  color: #333;
}

.product-card .main-images {
  position: relative;
  height: 210px;
}

.product-card .main-images img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  transform: rotate(18deg);
  position: absolute;
  top: -40px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5 ease;
}

.product-card .main-images img.active {
  opacity: 1;
}

.product-card .shoe-details .shoe_name {
  font-size: 24px;
  font-weight: 500;
  color: #161616;
}

.product-card .shoe-details p {
  font-size: 12px;
  font-weight: 400;
  color: #333;
  text-align: justify;
}

.product-card .shoe-details .stars i {
  margin: 0 -1px;
  color: #333;
}

.product-card .color-price .color-option {
  display: flex;
  align-items: center;
}

.color-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-price .color-option .color {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-right: 8px;
}

.color-option .circles {
  display: flex;
}

.color-option .circles .circle {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #0071c7;
  margin: 0 4px;
  cursor: pointer;
}

.color-option .circles .circle.pink {
  background-color: #fa1795;
}

.color-option .circles .circle.pink.active {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #fa1795;
}

.color-option .circles .circle.yellow {
  background-color: #f5da00;
}

.color-option .circles .circle.yellow.active {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #f5da00;
}

.color-option .circles .circle.blue.active {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #0071c7;
}

.color-price .price {
  display: flex;
  flex-direction: column;
}

.color-price .price .price_num {
  font-size: 25px;
  font-weight: 600px;
}

.color-price .price .price_letter {
  font-size: 10px;
  font-weight: 600px;
  color: #707070;
}
