@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card {
  width: 100%;
  max-width: 355px;
  border-radius: 25px;
  padding: 20px 30px 30px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.product-card .logo-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card .logo-cart img {
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.product-card .logo-cart i {
  font-size: 27px;
  cursor: pointer;
  color: #707070;
  transition: color 0.3s ease;
}

.product-card .logo-cart i:hover {
  color: #333;
}

.product-card .main-images {
  position: relative;
  height: 210px;
}

.product-card .main-images img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  transform: rotate(18deg);
  position: absolute;
  top: -40px;
  z-index: -1;
}

.product-card .shoe-details .shoe_name {
  font-size: 24px;
  font-weight: 500;
  color: #161616;
}

.product-card .shoe-details p {
  font-size: 12px;
  font-weight: 400;
  color: #333;
  text-align: justify;
}

.product-card .shoe-details .stars i {
  margin: 0 -1px;
  color: #333;
}

.product-card .color-price .color-option {
  display: flex;
  align-items: center;
}

.color-price .color-option .color {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-right: 8px;
}

.color-option .circle {
  display: flex;
}

.color-option .circles .circle {
  height: 18px;
  width: 18px;
  background: #0071c7;
}
