.header {
  padding-top: 50px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-auth {
    display: flex;
    align-items: center;
    gap: 0 30px;
  }
  &-signin {
    font-weight: 500;
    color: $heading-color;
  }
  &-signup {
    font-weight: 500;
    color: $primary-color;
    padding: 13px 45px;
    border: 0.47px solid $primary-color;
    border-radius: 23.4913px;
  }
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 40px;
  &-link {
    color: inherit;
  }
}
